<ion-header>
  <ion-navbar style="background: darkslategrey;">
    <ion-title>
      CROSS-FIRE
      <ion-icon name="flame"></ion-icon>
    </ion-title>
    <button ion-button icon-only menuToggle>
      <ion-icon name="apps"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 *ngFor="let article of articles">
    <div text-center style="background: #fffdd0;">
      {{ article.source.toUpperCase() }}
    </div>
    <ion-row>
      <ion-card *ngFor="let a of article.data.articles">
      <img [src]="a.urlToImage"/>
        <ion-card-content (click)="resolveArticle(a.url)">
          <ion-card-title>
            {{ a.title }}
            </ion-card-title>
          <p>
            {{ a.description }}
          </p>
          <p>
            {{ a.publishedAt }}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </h2>
</ion-content>
